@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    height: 75px;
    background: #222222;
}

.nav {
    display: flex;
    justify-content: space-between;
    
}

.headerLeft {
    display: flex;
    gap: 40px;
}

.logo {
    padding-top: 19px;
}

.searchIcon { 
    padding-top: 26px;
}

.headerRight {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 26px;
    gap: 33px;
}

.slider {
    background: #F1E4E6;
}

.sliderMain {
    display: flex;
    justify-content: space-around;
}

.sliderText {
    padding-top: 230px;
}

.sliderInfo {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.sliderInfoTitle {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.sliderInfoHeading {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

.sliderInfoHeading span {
    color: #f16d7f;
}

.sale {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 64px;
    padding-bottom: 96px;
}

.saleItem {}

.saleItemBg {
    background-color: rgba(33, 22, 22, 0.70);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.saleItemBg p {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.saleItemBg h3 {
    font-weight: 700;
    font-size: 24px;
    color: #f16d7f
}

.saleItem1 {
    background-image: url(./img/sale1.png);
    width: 350px;
    height: 260px;
}

.saleItem2 {
    background-image: url(./img/sale2.png);
    width: 350px;
    height: 260px;
}

.saleItem3 {
    background-image: url(./img/sale3.png);
    width: 350px;
    height: 260px;
}

.saleItemBig {
    min-height: 180px;
    grid-column: 1 / -1;
    background-image: url(./img/sale4.png);
}

.productBox {
    padding-bottom: 96px;
}

.productBoxHeading {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #222222;
}

.productBoxHeadingText {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 6px;
    color: #9F9F9F;
}

.productBoxContent {
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    gap: 30px;
    padding-top: 40px;
}

.product {
    background-color: #f8f8f8;
}

.product img {
    width: 360px;
    height: 420px;
}

.productContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 16px;
    gap: 16px;
}

.productHeading {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.productText {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.productPrice {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}